@use 'sass:math';
@use '../abstracts' as *;

.heading-xl {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 30px;
}
.heading-l {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 23px;
}
.heading-m {
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 19px;
}
.heading-s {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
  /* kerning */
}
.body-l {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 23px;
}
.body-m {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
}
