@use 'sass:math';
@use '../abstracts' as *;

@each $size-name, $size-value in $font-sizes {
  $difference: 3;
  @each $prop, $value in $font-sizes {
    .fs-#{$prop} {
      font-size: $value;
      @if ($value != 0.8125rem) {
        line-height: #{math.div((strip-unit($value) + $difference), 16)}rem;
      } @else {
        line-height: 1.4375rem;
      }
    }
    $difference: $difference + 1;
  }
}
