.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    width: 92.5%;
  }

  img {
    width: 0.92806rem;
    height: 0.93.5rem;
  }
}

.subtasks {
  display: grid;
  gap: 0.5rem;

  // > label {
  //   padding-bottom: 0.25rem;
  // }
}
